// Variations

$accentColor: #ffc600;
$borderStyle: black solid 1px;
$bodycolor: #161616;

// Миксины - набор свойств css

%relativePosition {
  margin: auto;
  padding: 0;
  position: relative;
}

%absolutePosition {
  margin: auto;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

body {
  @extend %relativePosition;
  background-color: #161616;
}

.headContainer {
  width: 1400px;
  height: 1086px;
  display: grid;
  grid-template-columns: 100px 1198px 100px;
  grid-template-rows: 431px 654px;
  background-image: url(../IMG/11.png);
  grid-template-areas:
    ". first ."
    ". second .";

  .firstsection {
    grid-area: first;

    .mainText {
      font-weight: bold;
      font-size: 108px;
      letter-spacing: -10px;
      color: white;

      .yellowLetter {
        color: $accentColor;
      }

      h1 {
        margin: 0 0 0 10px;
        padding: 100px 0 0 0;
        line-height: 0.9;
        color: white;
      }
    }

    .headerText {
      font-weight: regular;
      font-size: 18px;
      color: white;
      margin-left: 25px;

      .yellowLetter {
        color: $accentColor;
      }
    }

    .textOne {
      color: red;
    }

    .downloadText {
      margin: 25px 0 0 25px;

      a {
        color: $accentColor;
        text-decoration: none;
        font-size: 18px;
        transition: 1s;

        &:hover {
          color: white;
        }
      }
    }
  }

  .secondSection {
    grid-area: second;

    .headerTextTwo {
      padding-top: 80px;

      margin-left: 50px;
      font-size: 37px;
      letter-spacing: 0;
      line-height: 0.8;
      color: white;

      .yellowLetter {
        color: $accentColor;
      }
    }

    nav {
      margin-top: 50px;

      ul {
        display: flex;
        list-style: none;

        li {
          padding-left: 30px;

          &:nth-of-type(1) {
            padding: 0;
          }

          a {
            color: $accentColor;
            // font-weight: regular;
            font-size: 18px;
            text-decoration: none;
            transition: 0.3s;

            &:hover {
              color: white;
              border-bottom: $accentColor 2px solid;
            }
          }
        }
      }
    }
  }
}

main {
  display: grid;
  grid-template-columns: 100px 1198px 100px;
  grid-template-rows: 517px;
  grid-template-areas: ". maincont .";

  .mainContainer {
    background-color: white;
    grid-area: maincont;

    .upMain {
      width: 1198px;
      height: 256px;
      background-color: white;
      display: grid;
      grid-template-columns: 598px 600px;
      grid-template-rows: 256px;
      grid-template-areas: "logo mnt";

      .logo {
        grid-area: logo;
        font-size: 50px;
        margin: 70px 0 0 130px;
        line-height: 45px;
        font-weight: bold;

        span {
          color: $accentColor;
        }
      }

      .sublime {
        font-size: 80px;

        .line {
          color: black;
          line-height: 0;
        }
      }

      .about {
        color: #717171;
        font-size: 30px;

        span {
          font-size: 50px;
          color: #717171;
        }
      }

      .highline {
        margin: 10px 0 0 150px;
        border-top: #d3d1d1 solid 1px;
        width: 125px;
      }

      .verticalline {
        border-right: 1px solid #d3d1d1;
        height: 133px;
        width: 2px;
        margin-left: 445px;
        position: absolute;
        top: 1135px;
      }

      .mainText {
        grid-area: mnt;

        .upperText {
          margin: 35px 0 10px 0;
          font-style: italic;
          font-size: 14.5px;
        }

        .downerText {
          font-size: 13.5px;
          width: 580px;
          color: #8e8e8e;
        }
      }
    }

    .downMain {
      position: relative;
      margin: auto;
      width: 1000px;
      height: 261px;
      background-color: white;
      display: grid;
      grid-column-gap: 2em;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "one two three";

      h3 {
        font-weight: normal;
      }

      .gameContainerOne {
        grid-area: one;
        text-align: center;

        button {
          width: 60px;
          height: 60px;
          background-color: #e8e8e8;
          border: $accentColor 2px solid;
          border-radius: 50%;
          margin-bottom: 20px;
          margin-top: 10px;
        }

        div {
          padding: 0 25px;
          margin-top: 20px;
          font-size: 10px;
          font-style: italic;
          color: #555555;

          font-weight: normal;
        }
      }

      .gameContainerTwo {
        grid-area: two;
        text-align: center;

        button {
          width: 60px;
          height: 60px;
          background-color: #e8e8e8;
          border: $accentColor 2px solid;
          border-radius: 50%;
          margin-bottom: 20px;
          margin-top: 10px;
        }

        div {
          padding: 0 25px;
          margin-top: 20px;
          font-size: 10px;
          font-style: italic;
          color: #555555;

          font-weight: normal;
        }
      }

      .gameContainerThree {
        grid-area: three;
        text-align: center;

        button {
          width: 60px;
          height: 60px;
          background-color: #e8e8e8;
          border: $accentColor 2px solid;
          border-radius: 50%;
          margin-bottom: 20px;
          margin-top: 10px;
        }

        div {
          padding: 0 25px;
          margin-top: 20px;
          font-size: 10px;
          font-style: italic;
          color: #555555;

          font-weight: normal;
        }
      }
    }
  }
}

.gallery {
  display: grid;
  grid-template-columns: 100px 1198px 100px;
  grid-template-rows: 149px 538px;
  grid-template-areas:
    ". content ."
    ". images .";
  background-color: $bodycolor;

  .content {
    grid-area: content;
    background-color: white;

    h3 {
      color: black;
      margin-left: 70px;
      font-size: 30px;
      font-weight: normal;
      padding-top: 50px;

      .f {
        color: $accentColor;
        font-size: 50px;
      }

      .p {
        font-size: 50px;
      }
    }

    ul {
      display: flex;
      list-style: none;
      margin-left: 72px;

      li {
        padding-left: 20px;

        &:nth-of-type(1) {
          padding-left: 0;
        }

        a {
          text-transform: uppercase;
          text-decoration: none;
          font-size: 12px;
          color: black;
        }
      }
    }
  }

  .images {
    background-color: white;
    grid-area: images;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0;

    img {
      margin: 0;
      padding: 0;
    }
  }
}

.process {
  display: grid;
  grid-template-columns: 100px 1198px 100px;
  grid-template-rows: 1255px;
  grid-template-areas: ". container .";

  .processcontainer {
    grid-area: container;
    background-color: white;
    display: grid;
    grid-template-rows: 285px 970px;
    grid-template-areas:
      "txt"
      "chess"
    ;

    .em {
      // margin-top: 80px;
      font-style: italic;
      font-size: 14.5px;
    }

    .reg {
      font-size: 13.5px;
      margin-top: 10px;
      color: #8e8e8e;
      font-style: normal;
    }

    .textContainer {
      grid-area: txt;
      position: relative;

      h3 {
        color: black;
        margin-left: 70px;
        font-size: 30px;
        font-weight: normal;
        padding-top: 50px;
        font-weight: bolder;

        .f {
          color: $accentColor;
          font-size: 50px;
        }

        .p {
          font-size: 50px;
        }
      }

      .line {
        width: 130px;
        border: #c5c5c5 1px solid;
        position: absolute;
        left: 180px;
        top: 107px;
      }

      .em,
      .reg {
        margin-left: 70px;
        margin-right: 100px;
      }
    }

    .chessContainer {
      grid-area: chess;
      display: grid;
      grid-template-columns: 432px 432px;
      grid-template-rows: 288px 288px 288px;
      grid-auto-flow: column;
      position: relative;
      margin: auto;

      h3 {
        color: black;
        margin-left: 30px;
        font-size: 30px;
        font-weight: bold;
        padding-top: 20px;
        margin-bottom: 30px;


        .f {
          color: $accentColor;
          font-size: 50px;
        }

        .p {
          font-size: 50px;
        }
      }

      .em,
      .reg {
        margin-left: 30px;
      }

      .txt:nth-of-type(3) {
        margin-top: 70px;
      }

    }
  }

}

.services {
  display: grid;
  grid-template-columns: 100px 1198px 100px;
  grid-template-rows: 478px;
  grid-template-areas: ". container .";

  .servicesContainer {
    grid-area: container;
    background-image: url(../IMG/12.png);
    display: grid;
    grid-template-columns: 472px 726px;
    grid-template-rows: 478px;
    grid-template-areas: "logoS textS";

    .logoServices {
      grid-area: logoS;
      position: relative;
      // background-color: yellow;

      .logoS {
        color: white;
        margin-left: 70px;
        font-size: 30px;
        font-weight: normal;
        padding-top: 30px;

        .yellow {
          color: $accentColor;
          font-size: 50px;
        }

        .white {
          font-size: 50px;
        }
      }

      .line {
        margin-top: -5px;
        width: 127px;
        border-top: 1px #c5c5c5 solid;
        position: absolute;
        left: 190px;
      }
    }

    .textServices {
      margin-top: 130px;
      width: 544px;
      height: 305px;
      grid-area: textS;
      // background-color: green;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 85px;
      color: white;

      .text {
        font-size: 10px;
        margin-top: 25px;
      }
    }
  }
}

.team {
  display: grid;
  grid-template-columns: 100px 1198px 100px;
  grid-template-rows: 587px;
  grid-template-areas: ". tmc .";

  .teamContainer {
    grid-area: tmc;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 320px 878px;
    grid-template-rows: 170px 417px;
    grid-template-areas:
      "lgt infc infc"
      "lgt img img";

    .logoTeam {
      grid-area: lgt;
      color: #000000;
      margin-left: 70px;
      font-size: 30px;
      font-weight: normal;
      padding-top: 75px;
      position: relative;

      .yellow {
        color: $accentColor;
        font-size: 50px;
      }

      .white {
        font-size: 50px;
      }

      .line {
        margin-top: -5px;
        width: 90px;
        border-top: 1px #c5c5c5 solid;
        position: absolute;
        left: 60px;
      }
    }

    .infoContainer {
      grid-area: infc;
      width: 640px;

      .emph {
        margin-top: 80px;
        font-style: italic;
        font-size: 14.5px;
      }

      .reg {
        font-size: 13.5px;
        margin-top: 10px;
        color: #8e8e8e;
        font-style: normal;
      }
    }

    .img {
      grid-area: img;
      display: grid;
      grid-template-columns: repeat(4, 180px);
      grid-column-gap: 18px;

      div {
        justify-self: left;
        margin-top: 30px;
        text-align: center;

        .hd,
        .txt {
          margin: 0;
        }
      }
    }
  }
}

.testimonials {
  display: grid;
  grid-template-columns: 100px 1198px 100px;
  grid-template-rows: 418px;
  grid-template-areas: ". tst .";

  .testContainer {
    grid-area: tst;
    background-color: #000000;
    display: grid;
    grid-template-columns: 727px 471px;
    grid-template-areas: "st ph";

    .sectionText {
      grid-area: st;
      // position: relative;
      display: grid;

      .logoTest {
        color: white;
        margin-left: 70px;
        font-size: 30px;
        font-weight: normal;
        padding-top: 30px;

        .yellow {
          color: $accentColor;
          font-size: 50px;
        }
      }

      .text {
        color: white;
        margin-left: 95px;
        margin-bottom: 80px;
      }

      .emph {
        width: 602px;
        font-style: italic;
        font-size: 14.5px;
      }

      .reg {
        width: 621px;
        font-size: 13.5px;
        margin-top: 10px;

        font-style: normal;
      }
    }

    .sectionPhoto {
      grid-area: ph;
      color: white;

      position: relative;
      text-align: center;

      .containerPhoto {
        width: 180px;
        height: 220px;
        margin-top: 100px;
        margin-left: 40px;

        img {
          border: 3px $accentColor solid;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }

        .emph {
          color: #8e8e8e;
          font-style: italic;
        }

        .reg {
          margin-top: 10px;
        }
      }
    }
  }
}

.blogs {
  display: grid;
  grid-template-columns: 100px 1198px 100px;
  grid-template-rows: 543px;
  grid-template-areas:
    ". wrap ."
  ;

  .wrapper {
    background-color: #fff;
    grid-area: wrap;
    display: grid;
    grid-template-columns: 405px 793px;
    grid-template-areas:
      "men med"
    ;

    .menuContainer {
      grid-area: men;
      position: relative;

      .logo {
        color: black;
        margin-left: 70px;
        font-size: 30px;
        font-weight: bold;
        padding-top: 30px;

        .yellow {
          color: $accentColor;
          font-size: 50px;
        }

      }

      .line {
        width: 85px;
        border: #c5c5c5 1px solid;
        position: absolute;
        left: 71px;
        top: 88px;
      }

      ul {
        list-style: none;
        margin: 45px 0 0 142px;

        li {
          padding: 10px;
        }


        a {
          text-decoration: none;
          text-transform: capitalize;
          color: black;
          font-weight: normal;
          font-size: 17px;
          transition: 1s;

          &:hover {
            color: $accentColor;
          }
        }

      }

    }

    .mediaContainer {
      margin-top: 30px;
      grid-area: med;
      display: grid;
      grid-template-columns: repeat(3, 263px);

      .under {
        font-size: 17px;
        color: $accentColor
      }

      .reg {
        margin-top: 15px;
        margin-bottom: 10px;
        font-weight: bold;

      }

      .emph {
        font-size: 12px;
        width: 170px;
        font-style: italic;
        // border: $borderStyle;
      }
    }




  }
}


.contacts {
  display: grid;
  grid-template-columns: 100px 1198px 100px;
  grid-template-rows: 751px;
  grid-template-areas:
    ". cnt ."
  ;

  .wrapper {
    grid-area: cnt;
    background-color: #2046b3;
    display: grid;
    grid-template-columns: 500px 698px;
    grid-template-areas:
      "mpc fc"
    ;

    .mapContainer {
      grid-area: mpc;
      // background-image: url(../IMG/24.png);
      background-size: cover;
      position: relative;

      .logo {
        height: 100px;
        width: 100px;
        background-color: black;
        color: white;
        font-weight: bold;
        border-radius: 50%;
        @extend %absolutePosition;
        display: grid;
        align-items: center;
        justify-items: center;
        border: $accentColor 1px solid;

        .yellow {
          color: $accentColor;
        }
      }
    }

    .formContainer {
      grid-area: fc;
      position: relative;

      .infoContainer {
        position: relative;
        margin-top: 210px;
        margin-left: 95px;
        color: white;
        font-size: 17px;
        font-weight: bold;
        width: 150px;


        .locMap {
          margin-bottom: 40px;
        }

        .adress {
          margin-bottom: 30px;
        }

        .phone {
          margin-bottom: 20px;
        }


      }

      .infoCont {
        width: 400px;
        color: white;
        margin-left: 175px;
        margin-top: -117px;

        div:nth-of-type(1) {
          margin-bottom: 31px;
        }

        div:nth-of-type(2) {
          margin-bottom: 20px;
        }

        .tel {
          a {
            text-decoration: none;
            color: white;
          }
        }

        .mail {
          a {
            text-decoration: none;
            color: white;
          }
        }


      }

      .downLine {
        width: 410px;
        border-top: 1px #7386bc solid;
        margin-top: 65px;
        margin-left: 85px;

        .socialMedia {
          margin-top: 10px;
          margin-left: 20px;
        }
      }

      form {
        margin-left: 80px;
        width: 410px;


        input {
          padding: 0.6em;
          margin-top: 20px;
          border: white 2px solid;
          background-color: #2046b3;
          color: white;
          display: inline-block;
        }

        .name {
          width: 410px;
        }

        .mobile {
          width: 160px;

        }

        .email {
          position: absolute;
          width: 200px;
          right: 185px;
        }

        .message {
          position: absolute;
          width: 413px;
          height: 70px;
          right: 185px;
          top: 210px;
        }

        .send {
          position: absolute;
          background-color: $accentColor;
          top: 320px;
          width: 100px;
          left: 80px;
          border: $accentColor;
          color: black;
          font-weight: bold;
        }



      }

      .line {
        width: 170px;
        border: #c5c5c5 1px solid;
        position: absolute;
        left: 75px;
        top: 90px;
      }

      .contact {
        color: white;
        margin-left: 70px;
        font-size: 30px;
        font-weight: bold;
        padding-top: 30px;

        .yellow {
          color: $accentColor;
          font-size: 50px;
        }

        .white {
          font-size: 50px;
        }
      }


    }



    // .locMap {
    //   position: absolute;
    //   top: 430px;
    //   left: 80px;
    //   color: white;
    //   font-weight: bold;

    // }

    // .adress {
    //   position: absolute;
    //   top: 430px;
    //   left: 80px;
    //   color: white;
    //   font-weight: bold;

    // }





  }
}

footer {
  display: grid;
  grid-template-columns: 100px 1198px 100px;
  grid-template-rows: 698px;
  grid-template-areas:
    ". fc ."
  ;

  .footContainer {
    grid-area: fc;
    display: grid;
    grid-template-columns: 322px 876px;
    grid-template-areas: "menu content";

    .menuContainer {
      grid-area: menu;
      background-color: black;
      color: white;

      .logo {
        color: white;
        margin-left: 20px;
        font-size: 30px;
        font-weight: bold;
        padding-top: 120px;
        font-size: 50px;
        margin-bottom: 20px;

        .yellow {
          color: $accentColor;
          font-size: 50px;
        }
      }

      ul {
        list-style: none;
        margin-left: 20px;


        li {

          padding: 0.3em;

          a {
            text-decoration: none;
            text-transform: uppercase;
            color: white;

            &:hover {
              color: $accentColor;

            }
          }
        }
      }

      .downLine {
        width: 130px;
        border-top: $accentColor 1px solid;
        margin-top: 20px;
        margin-left: 20px;

        .socialMedia {
          margin-left: 5px;
          margin-top: 10px;

        }
      }

    }

    .contentContainer {
      grid-area: content;
      background-image: url(../IMG/28.jpg);

      h1 {
        font-size: 95px;
        line-height: 80px;
        color: white;
        font-weight: bold;
        ;
        margin-left: 20px;
        margin-top: 320px;

        .yellow {
          color: $accentColor;
        }
      }
    }


  }
}