// Variations

$accentColor: #ffc600;
$borderStyle: black solid 1px;



// Миксины - набор свойств css

%relativePosition {
    margin: auto;
    padding: 0;
    position: relative;
}

%absolutePosition {
    margin: auto;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}


* {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;


}

body {
    @extend %relativePosition;
    background-color: #161616;

}

.headContainer {
    width: 1400px;
    height: 1086px;
    display: grid;
    grid-template-columns: 100px 1198px 100px;
    grid-template-rows: 431px 654px;
    background-image: url(../IMG/Layer\ 5.png);
    grid-template-areas:
        ". first ."
        ". second ."
    ;

    .firstsection {
        grid-area: first;


        .mainText {
            font-weight: bold;
            font-size: 108px;
            letter-spacing: -10px;
            color: white;

            .yellowLetter {
                color: $accentColor;
            }

            h1 {
                margin: 0 0 0 10px;
                padding: 100px 0 0 0;
                line-height: 0.9;
                color: white;

            }





        }

        .headerText {
            font-weight: regular;
            font-size: 18px;
            color: white;
            margin-left: 25px;

            .yellowLetter {
                color: $accentColor;
            }
        }

        .downloadText {
            margin: 25px 0 0 25px;

            a {
                color: $accentColor;
                text-decoration: none;
                font-size: 18px;
                transition: 1s;

                &:hover {
                    color: white;
                }
            }
        }
    }

    .secondSection {
        grid-area: second;

        .headerTextTwo {
            padding-top: 80px;

            margin-left: 25px;
            font-size: 37px;
            letter-spacing: 0;
            line-height: 0.8;
            color: white;

            .yellowLetter {
                color: $accentColor;

            }
        }

        nav {

            margin-top: 50px;


            ul {
                display: flex;
                list-style: none;

                li {
                    padding-left: 30px;
                    ;

                    &:nth-of-type(1) {
                        padding: 0;
                    }

                    a {
                        color: $accentColor;
                        // font-weight: regular;
                        font-size: 18px;
                        text-decoration: none;
                        transition: 0.3s;

                        &:hover {
                            color: white;
                            border-bottom: $accentColor 2px solid;
                        }
                    }
                }
            }
        }
    }

}

main {
    display: grid;
    grid-template-columns: 100px 1198px 100px;
    grid-template-rows: 517px;
    grid-template-areas:
        ". main ."
    ;

    .mainContainer {
        background-color: violet;
        grid-area: main;

        .upMain {
            width: 1198px;
            height: 256px;
            background-color: silver;
            display: grid;
            grid-template-columns: 598px 600px;
            grid-template-rows: 256px;
            grid-template-areas:

                "logo mnt";

            .logo {
                grid-area: logo;
            }

            .mainText {
                grid-area: mnt;
            }
        }

        .downMain {
            position: relative;
            margin: auto;
            width: 900px;
            height: 261px;
            background-color: gold;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas:
                "one two three"
            ;




            .gameContainerOne {
                grid-area: one;
                text-align: center;

                button {

                    width: 50px;
                    height: 50px;
                    background-color: #e8e8e8;
                    border: $accentColor 2px solid;
                    border-radius: 50%;
                }
            }

            .gameContainerTwo {
                grid-area: two;
                text-align: center;


                button {

                    width: 50px;
                    height: 50px;
                    background-color: #e8e8e8;
                    border: $accentColor 2px solid;
                    border-radius: 50%;
                }
            }

            .gameContainerThree {
                grid-area: three;
                text-align: center;

                button {

                    width: 50px;
                    height: 50px;
                    background-color: #e8e8e8;
                    border: $accentColor 2px solid;
                    border-radius: 50%;
                    margin-bottom: 20px;
                    margin-top: 10px;
                }

                div {
                    margin-top: 20px;
                    font-size: 12px;
                    font-style: italic;
                    color: #676767;
                }
            }

        }


    }

}