// Переменные

$accentColor: #EC5749;
$secondAccentColor: #EB4754;
$additionalAccentColor: #F4C045;
$buttonPink: #EC428D;

body {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #0B0B0D;
}



.mobileMenu {
    display: none;

    ul {
        display: none;
    }
}



#clickme {
    display: none;
}

#mainMenuButton {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 14px;
    bottom: 0;
    right: 3vw;
    height: 30px;
    width: 30px;
    background: linear-gradient(45deg, $additionalAccentColor 45%, $secondAccentColor, $buttonPink);
    border-radius: 20%;
    border: 2px solid black;
    outline: none;
    font-weight: bolder;
    font-size: 110%;
}

.mainMenu {
    margin: 0;
    padding: 0;
    display: none;
    // border: green 2px solid;
    width: 100%;
    height: 60px;
    background-color: #b0B0B0D;

    ul {
        margin: auto;
        padding: 0;
        display: flex;
        // border: red 1px solid;
        width: 80%;
        height: 60px;
        align-items: center;
        list-style: none;
        justify-content: space-between;


        li:nth-of-type(1) {
            border: $secondAccentColor 2px solid;
            background: linear-gradient(45deg, $additionalAccentColor 45%, $secondAccentColor, $additionalAccentColor);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        li {
            padding: 10px;

            a {
                text-transform: uppercase;
                text-decoration: none;
                color: $accentColor;
                font-weight: bold;
                transition: 1s;
                margin: 1px 0 0 0;


                &:hover {
                    text-transform: uppercase;
                    text-decoration: none;
                    color: $additionalAccentColor;
                    font-weight: bold;
                }


            }
        }


    }


}






// Картинка

.picture {
    background-image: url(../IMG/3.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: right;
}

@media screen and (max-width: 500px) {

    #mainMenuButton {

        display: none;
    }

    .mainMenu {
        display: none;
    }

    .mainMenu ul {
        dispay: none;
    }

    .mobileMenu {
        width: 100%;
        height: 180px;
        /* border: 1px green solid; */
        margin: 0;
        padding: 0;
        display: none;
        margin: 0;
        background-color: lightgrey;
    }

    .mobileMenu ul {
        margin: 0;
        padding: 20px;
        display: grid;
        /* border: 1px red solid; */
        width: 50%;
        justify-items: center;
        position: relative;
        margin: auto;
        list-style: none;
    }

    .mobileMenu ul li {
        margin: 0;
        padding: 3px;
    }

    .mobileMenu ul li a {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        transition: 0.5s;
    }

    .mobileMenu ul li a:hover {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        text-decoration: none;
        color: orange;
    }

    .containerButton {
        display: block;
        width: 100%;
        height: px;
        /* border: 1px red solid; */
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: darkgrey;
    }

    #clickme {
        display: block;
        width: 40px;
        height: 25px;
        margin: 0;
        padding: 2px;
        background-color: rgba(255, 166, 0, 0.295);
        border-radius: 20%;
        color: black;
        border: 2px rgba(255, 166, 0, 0.644) solid;
        outline: none;
        transition: 0.3s;
    }

    #clickme:hover {
        display: block;
        width: 40px;
        height: 25px;
        margin: 0;
        padding: 2px;
        background-color: rgba(255, 166, 0, 0.548);
        border-radius: 20%;
        color: black;
        border: 2px rgba(255, 166, 0, 0.842) solid;
        outline: none;
    }

    .picture {
        background-image: url(../IMG/3.png);
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

}