body {
  margin: auto;
  padding: 0;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

body {
  background-color: #161616;
}

.headContainer {
  width: 1400px;
  height: 1086px;
  display: grid;
  grid-template-columns: 100px 1198px 100px;
  grid-template-rows: 431px 654px;
  background-image: url(../IMG/Layer\ 5.png);
  grid-template-areas: ". first ." ". second .";
}
.headContainer .firstsection {
  grid-area: first;
}
.headContainer .firstsection .mainText {
  font-weight: bold;
  font-size: 108px;
  letter-spacing: -10px;
  color: white;
}
.headContainer .firstsection .mainText .yellowLetter {
  color: #ffc600;
}
.headContainer .firstsection .mainText h1 {
  margin: 0 0 0 10px;
  padding: 100px 0 0 0;
  line-height: 0.9;
  color: white;
}
.headContainer .firstsection .headerText {
  font-weight: regular;
  font-size: 18px;
  color: white;
  margin-left: 25px;
}
.headContainer .firstsection .headerText .yellowLetter {
  color: #ffc600;
}
.headContainer .firstsection .downloadText {
  margin: 25px 0 0 25px;
}
.headContainer .firstsection .downloadText a {
  color: #ffc600;
  text-decoration: none;
  font-size: 18px;
  transition: 1s;
}
.headContainer .firstsection .downloadText a:hover {
  color: white;
}
.headContainer .secondSection {
  grid-area: second;
}
.headContainer .secondSection .headerTextTwo {
  padding-top: 80px;
  margin-left: 25px;
  font-size: 37px;
  letter-spacing: 0;
  line-height: 0.8;
  color: white;
}
.headContainer .secondSection .headerTextTwo .yellowLetter {
  color: #ffc600;
}
.headContainer .secondSection nav {
  margin-top: 50px;
}
.headContainer .secondSection nav ul {
  display: flex;
  list-style: none;
}
.headContainer .secondSection nav ul li {
  padding-left: 30px;
}
.headContainer .secondSection nav ul li:nth-of-type(1) {
  padding: 0;
}
.headContainer .secondSection nav ul li a {
  color: #ffc600;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s;
}
.headContainer .secondSection nav ul li a:hover {
  color: white;
  border-bottom: #ffc600 2px solid;
}

main {
  display: grid;
  grid-template-columns: 100px 1198px 100px;
  grid-template-rows: 517px;
  grid-template-areas: ". main .";
}
main .mainContainer {
  background-color: violet;
  grid-area: main;
}
main .mainContainer .upMain {
  width: 1198px;
  height: 256px;
  background-color: silver;
  display: grid;
  grid-template-columns: 598px 600px;
  grid-template-rows: 256px;
  grid-template-areas: "logo mnt";
}
main .mainContainer .upMain .logo {
  grid-area: logo;
}
main .mainContainer .upMain .mainText {
  grid-area: mnt;
}
main .mainContainer .downMain {
  position: relative;
  margin: auto;
  width: 900px;
  height: 261px;
  background-color: gold;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "one two three";
}
main .mainContainer .downMain .gameContainerOne {
  grid-area: one;
  text-align: center;
}
main .mainContainer .downMain .gameContainerOne button {
  width: 50px;
  height: 50px;
  background-color: #e8e8e8;
  border: #ffc600 2px solid;
  border-radius: 50%;
}
main .mainContainer .downMain .gameContainerTwo {
  grid-area: two;
  text-align: center;
}
main .mainContainer .downMain .gameContainerTwo button {
  width: 50px;
  height: 50px;
  background-color: #e8e8e8;
  border: #ffc600 2px solid;
  border-radius: 50%;
}
main .mainContainer .downMain .gameContainerThree {
  grid-area: three;
  text-align: center;
}
main .mainContainer .downMain .gameContainerThree button {
  width: 50px;
  height: 50px;
  background-color: #e8e8e8;
  border: #ffc600 2px solid;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 10px;
}
main .mainContainer .downMain .gameContainerThree div {
  margin-top: 20px;
  font-size: 12px;
  font-style: italic;
  color: #676767;
}
