body {
  margin: auto;
  padding: 0;
  position: relative;
}

.contacts .wrapper .mapContainer .logo {
  margin: auto;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

body {
  background-color: #161616;
}

.headContainer {
  width: 1400px;
  height: 1086px;
  display: grid;
  grid-template-columns: 100px 1198px 100px;
  grid-template-rows: 431px 654px;
  background-image: url(../IMG/11.png);
  grid-template-areas: ". first ." ". second .";
}
.headContainer .firstsection {
  grid-area: first;
}
.headContainer .firstsection .mainText {
  font-weight: bold;
  font-size: 108px;
  letter-spacing: -10px;
  color: white;
}
.headContainer .firstsection .mainText .yellowLetter {
  color: #ffc600;
}
.headContainer .firstsection .mainText h1 {
  margin: 0 0 0 10px;
  padding: 100px 0 0 0;
  line-height: 0.9;
  color: white;
}
.headContainer .firstsection .headerText {
  font-weight: regular;
  font-size: 18px;
  color: white;
  margin-left: 25px;
}
.headContainer .firstsection .headerText .yellowLetter {
  color: #ffc600;
}
.headContainer .firstsection .textOne {
  color: red;
}
.headContainer .firstsection .downloadText {
  margin: 25px 0 0 25px;
}
.headContainer .firstsection .downloadText a {
  color: #ffc600;
  text-decoration: none;
  font-size: 18px;
  transition: 1s;
}
.headContainer .firstsection .downloadText a:hover {
  color: white;
}
.headContainer .secondSection {
  grid-area: second;
}
.headContainer .secondSection .headerTextTwo {
  padding-top: 80px;
  margin-left: 50px;
  font-size: 37px;
  letter-spacing: 0;
  line-height: 0.8;
  color: white;
}
.headContainer .secondSection .headerTextTwo .yellowLetter {
  color: #ffc600;
}
.headContainer .secondSection nav {
  margin-top: 50px;
}
.headContainer .secondSection nav ul {
  display: flex;
  list-style: none;
}
.headContainer .secondSection nav ul li {
  padding-left: 30px;
}
.headContainer .secondSection nav ul li:nth-of-type(1) {
  padding: 0;
}
.headContainer .secondSection nav ul li a {
  color: #ffc600;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s;
}
.headContainer .secondSection nav ul li a:hover {
  color: white;
  border-bottom: #ffc600 2px solid;
}

main {
  display: grid;
  grid-template-columns: 100px 1198px 100px;
  grid-template-rows: 517px;
  grid-template-areas: ". maincont .";
}
main .mainContainer {
  background-color: white;
  grid-area: maincont;
}
main .mainContainer .upMain {
  width: 1198px;
  height: 256px;
  background-color: white;
  display: grid;
  grid-template-columns: 598px 600px;
  grid-template-rows: 256px;
  grid-template-areas: "logo mnt";
}
main .mainContainer .upMain .logo {
  grid-area: logo;
  font-size: 50px;
  margin: 70px 0 0 130px;
  line-height: 45px;
  font-weight: bold;
}
main .mainContainer .upMain .logo span {
  color: #ffc600;
}
main .mainContainer .upMain .sublime {
  font-size: 80px;
}
main .mainContainer .upMain .sublime .line {
  color: black;
  line-height: 0;
}
main .mainContainer .upMain .about {
  color: #717171;
  font-size: 30px;
}
main .mainContainer .upMain .about span {
  font-size: 50px;
  color: #717171;
}
main .mainContainer .upMain .highline {
  margin: 10px 0 0 150px;
  border-top: #d3d1d1 solid 1px;
  width: 125px;
}
main .mainContainer .upMain .verticalline {
  border-right: 1px solid #d3d1d1;
  height: 133px;
  width: 2px;
  margin-left: 445px;
  position: absolute;
  top: 1135px;
}
main .mainContainer .upMain .mainText {
  grid-area: mnt;
}
main .mainContainer .upMain .mainText .upperText {
  margin: 35px 0 10px 0;
  font-style: italic;
  font-size: 14.5px;
}
main .mainContainer .upMain .mainText .downerText {
  font-size: 13.5px;
  width: 580px;
  color: #8e8e8e;
}
main .mainContainer .downMain {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 261px;
  background-color: white;
  display: grid;
  grid-column-gap: 2em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "one two three";
}
main .mainContainer .downMain h3 {
  font-weight: normal;
}
main .mainContainer .downMain .gameContainerOne {
  grid-area: one;
  text-align: center;
}
main .mainContainer .downMain .gameContainerOne button {
  width: 60px;
  height: 60px;
  background-color: #e8e8e8;
  border: #ffc600 2px solid;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 10px;
}
main .mainContainer .downMain .gameContainerOne div {
  padding: 0 25px;
  margin-top: 20px;
  font-size: 10px;
  font-style: italic;
  color: #555555;
  font-weight: normal;
}
main .mainContainer .downMain .gameContainerTwo {
  grid-area: two;
  text-align: center;
}
main .mainContainer .downMain .gameContainerTwo button {
  width: 60px;
  height: 60px;
  background-color: #e8e8e8;
  border: #ffc600 2px solid;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 10px;
}
main .mainContainer .downMain .gameContainerTwo div {
  padding: 0 25px;
  margin-top: 20px;
  font-size: 10px;
  font-style: italic;
  color: #555555;
  font-weight: normal;
}
main .mainContainer .downMain .gameContainerThree {
  grid-area: three;
  text-align: center;
}
main .mainContainer .downMain .gameContainerThree button {
  width: 60px;
  height: 60px;
  background-color: #e8e8e8;
  border: #ffc600 2px solid;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 10px;
}
main .mainContainer .downMain .gameContainerThree div {
  padding: 0 25px;
  margin-top: 20px;
  font-size: 10px;
  font-style: italic;
  color: #555555;
  font-weight: normal;
}

.gallery {
  display: grid;
  grid-template-columns: 100px 1198px 100px;
  grid-template-rows: 149px 538px;
  grid-template-areas: ". content ." ". images .";
  background-color: #161616;
}
.gallery .content {
  grid-area: content;
  background-color: white;
}
.gallery .content h3 {
  color: black;
  margin-left: 70px;
  font-size: 30px;
  font-weight: normal;
  padding-top: 50px;
}
.gallery .content h3 .f {
  color: #ffc600;
  font-size: 50px;
}
.gallery .content h3 .p {
  font-size: 50px;
}
.gallery .content ul {
  display: flex;
  list-style: none;
  margin-left: 72px;
}
.gallery .content ul li {
  padding-left: 20px;
}
.gallery .content ul li:nth-of-type(1) {
  padding-left: 0;
}
.gallery .content ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  color: black;
}
.gallery .images {
  background-color: white;
  grid-area: images;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0;
}
.gallery .images img {
  margin: 0;
  padding: 0;
}

.process {
  display: grid;
  grid-template-columns: 100px 1198px 100px;
  grid-template-rows: 1255px;
  grid-template-areas: ". container .";
}
.process .processcontainer {
  grid-area: container;
  background-color: white;
  display: grid;
  grid-template-rows: 285px 970px;
  grid-template-areas: "txt" "chess";
}
.process .processcontainer .em {
  font-style: italic;
  font-size: 14.5px;
}
.process .processcontainer .reg {
  font-size: 13.5px;
  margin-top: 10px;
  color: #8e8e8e;
  font-style: normal;
}
.process .processcontainer .textContainer {
  grid-area: txt;
  position: relative;
}
.process .processcontainer .textContainer h3 {
  color: black;
  margin-left: 70px;
  font-size: 30px;
  font-weight: normal;
  padding-top: 50px;
  font-weight: bolder;
}
.process .processcontainer .textContainer h3 .f {
  color: #ffc600;
  font-size: 50px;
}
.process .processcontainer .textContainer h3 .p {
  font-size: 50px;
}
.process .processcontainer .textContainer .line {
  width: 130px;
  border: #c5c5c5 1px solid;
  position: absolute;
  left: 180px;
  top: 107px;
}
.process .processcontainer .textContainer .em,
.process .processcontainer .textContainer .reg {
  margin-left: 70px;
  margin-right: 100px;
}
.process .processcontainer .chessContainer {
  grid-area: chess;
  display: grid;
  grid-template-columns: 432px 432px;
  grid-template-rows: 288px 288px 288px;
  grid-auto-flow: column;
  position: relative;
  margin: auto;
}
.process .processcontainer .chessContainer h3 {
  color: black;
  margin-left: 30px;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  margin-bottom: 30px;
}
.process .processcontainer .chessContainer h3 .f {
  color: #ffc600;
  font-size: 50px;
}
.process .processcontainer .chessContainer h3 .p {
  font-size: 50px;
}
.process .processcontainer .chessContainer .em,
.process .processcontainer .chessContainer .reg {
  margin-left: 30px;
}
.process .processcontainer .chessContainer .txt:nth-of-type(3) {
  margin-top: 70px;
}

.services {
  display: grid;
  grid-template-columns: 100px 1198px 100px;
  grid-template-rows: 478px;
  grid-template-areas: ". container .";
}
.services .servicesContainer {
  grid-area: container;
  background-image: url(../IMG/12.png);
  display: grid;
  grid-template-columns: 472px 726px;
  grid-template-rows: 478px;
  grid-template-areas: "logoS textS";
}
.services .servicesContainer .logoServices {
  grid-area: logoS;
  position: relative;
}
.services .servicesContainer .logoServices .logoS {
  color: white;
  margin-left: 70px;
  font-size: 30px;
  font-weight: normal;
  padding-top: 30px;
}
.services .servicesContainer .logoServices .logoS .yellow {
  color: #ffc600;
  font-size: 50px;
}
.services .servicesContainer .logoServices .logoS .white {
  font-size: 50px;
}
.services .servicesContainer .logoServices .line {
  margin-top: -5px;
  width: 127px;
  border-top: 1px #c5c5c5 solid;
  position: absolute;
  left: 190px;
}
.services .servicesContainer .textServices {
  margin-top: 130px;
  width: 544px;
  height: 305px;
  grid-area: textS;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 85px;
  color: white;
}
.services .servicesContainer .textServices .text {
  font-size: 10px;
  margin-top: 25px;
}

.team {
  display: grid;
  grid-template-columns: 100px 1198px 100px;
  grid-template-rows: 587px;
  grid-template-areas: ". tmc .";
}
.team .teamContainer {
  grid-area: tmc;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 320px 878px;
  grid-template-rows: 170px 417px;
  grid-template-areas: "lgt infc infc" "lgt img img";
}
.team .teamContainer .logoTeam {
  grid-area: lgt;
  color: #000000;
  margin-left: 70px;
  font-size: 30px;
  font-weight: normal;
  padding-top: 75px;
  position: relative;
}
.team .teamContainer .logoTeam .yellow {
  color: #ffc600;
  font-size: 50px;
}
.team .teamContainer .logoTeam .white {
  font-size: 50px;
}
.team .teamContainer .logoTeam .line {
  margin-top: -5px;
  width: 90px;
  border-top: 1px #c5c5c5 solid;
  position: absolute;
  left: 60px;
}
.team .teamContainer .infoContainer {
  grid-area: infc;
  width: 640px;
}
.team .teamContainer .infoContainer .emph {
  margin-top: 80px;
  font-style: italic;
  font-size: 14.5px;
}
.team .teamContainer .infoContainer .reg {
  font-size: 13.5px;
  margin-top: 10px;
  color: #8e8e8e;
  font-style: normal;
}
.team .teamContainer .img {
  grid-area: img;
  display: grid;
  grid-template-columns: repeat(4, 180px);
  grid-column-gap: 18px;
}
.team .teamContainer .img div {
  justify-self: left;
  margin-top: 30px;
  text-align: center;
}
.team .teamContainer .img div .hd,
.team .teamContainer .img div .txt {
  margin: 0;
}

.testimonials {
  display: grid;
  grid-template-columns: 100px 1198px 100px;
  grid-template-rows: 418px;
  grid-template-areas: ". tst .";
}
.testimonials .testContainer {
  grid-area: tst;
  background-color: #000000;
  display: grid;
  grid-template-columns: 727px 471px;
  grid-template-areas: "st ph";
}
.testimonials .testContainer .sectionText {
  grid-area: st;
  display: grid;
}
.testimonials .testContainer .sectionText .logoTest {
  color: white;
  margin-left: 70px;
  font-size: 30px;
  font-weight: normal;
  padding-top: 30px;
}
.testimonials .testContainer .sectionText .logoTest .yellow {
  color: #ffc600;
  font-size: 50px;
}
.testimonials .testContainer .sectionText .text {
  color: white;
  margin-left: 95px;
  margin-bottom: 80px;
}
.testimonials .testContainer .sectionText .emph {
  width: 602px;
  font-style: italic;
  font-size: 14.5px;
}
.testimonials .testContainer .sectionText .reg {
  width: 621px;
  font-size: 13.5px;
  margin-top: 10px;
  font-style: normal;
}
.testimonials .testContainer .sectionPhoto {
  grid-area: ph;
  color: white;
  position: relative;
  text-align: center;
}
.testimonials .testContainer .sectionPhoto .containerPhoto {
  width: 180px;
  height: 220px;
  margin-top: 100px;
  margin-left: 40px;
}
.testimonials .testContainer .sectionPhoto .containerPhoto img {
  border: 3px #ffc600 solid;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.testimonials .testContainer .sectionPhoto .containerPhoto .emph {
  color: #8e8e8e;
  font-style: italic;
}
.testimonials .testContainer .sectionPhoto .containerPhoto .reg {
  margin-top: 10px;
}

.blogs {
  display: grid;
  grid-template-columns: 100px 1198px 100px;
  grid-template-rows: 543px;
  grid-template-areas: ". wrap .";
}
.blogs .wrapper {
  background-color: #fff;
  grid-area: wrap;
  display: grid;
  grid-template-columns: 405px 793px;
  grid-template-areas: "men med";
}
.blogs .wrapper .menuContainer {
  grid-area: men;
  position: relative;
}
.blogs .wrapper .menuContainer .logo {
  color: black;
  margin-left: 70px;
  font-size: 30px;
  font-weight: bold;
  padding-top: 30px;
}
.blogs .wrapper .menuContainer .logo .yellow {
  color: #ffc600;
  font-size: 50px;
}
.blogs .wrapper .menuContainer .line {
  width: 85px;
  border: #c5c5c5 1px solid;
  position: absolute;
  left: 71px;
  top: 88px;
}
.blogs .wrapper .menuContainer ul {
  list-style: none;
  margin: 45px 0 0 142px;
}
.blogs .wrapper .menuContainer ul li {
  padding: 10px;
}
.blogs .wrapper .menuContainer ul a {
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  font-weight: normal;
  font-size: 17px;
  transition: 1s;
}
.blogs .wrapper .menuContainer ul a:hover {
  color: #ffc600;
}
.blogs .wrapper .mediaContainer {
  margin-top: 30px;
  grid-area: med;
  display: grid;
  grid-template-columns: repeat(3, 263px);
}
.blogs .wrapper .mediaContainer .under {
  font-size: 17px;
  color: #ffc600;
}
.blogs .wrapper .mediaContainer .reg {
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}
.blogs .wrapper .mediaContainer .emph {
  font-size: 12px;
  width: 170px;
  font-style: italic;
}

.contacts {
  display: grid;
  grid-template-columns: 100px 1198px 100px;
  grid-template-rows: 751px;
  grid-template-areas: ". cnt .";
}
.contacts .wrapper {
  grid-area: cnt;
  background-color: #2046b3;
  display: grid;
  grid-template-columns: 500px 698px;
  grid-template-areas: "mpc fc";
}
.contacts .wrapper .mapContainer {
  grid-area: mpc;
  background-image: url(../IMG/24.png);
  background-size: cover;
  position: relative;
}
.contacts .wrapper .mapContainer .logo {
  height: 100px;
  width: 100px;
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-items: center;
  border: #ffc600 1px solid;
}
.contacts .wrapper .mapContainer .logo .yellow {
  color: #ffc600;
}
.contacts .wrapper .formContainer {
  grid-area: fc;
  position: relative;
}
.contacts .wrapper .formContainer .infoContainer {
  position: relative;
  margin-top: 210px;
  margin-left: 95px;
  color: white;
  font-size: 17px;
  font-weight: bold;
  width: 150px;
}
.contacts .wrapper .formContainer .infoContainer .locMap {
  margin-bottom: 40px;
}
.contacts .wrapper .formContainer .infoContainer .adress {
  margin-bottom: 30px;
}
.contacts .wrapper .formContainer .infoContainer .phone {
  margin-bottom: 20px;
}
.contacts .wrapper .formContainer .infoCont {
  width: 400px;
  color: white;
  margin-left: 175px;
  margin-top: -113px;
}
.contacts .wrapper .formContainer .infoCont div:nth-of-type(1) {
  margin-bottom: 30px;
}
.contacts .wrapper .formContainer .infoCont div:nth-of-type(2) {
  margin-bottom: 20px;
}
.contacts .wrapper .formContainer .downLine {
  width: 410px;
  border-top: 1px #7386bc solid;
  margin-top: 65px;
  margin-left: 85px;
}
.contacts .wrapper .formContainer .downLine .socialMedia {
  margin-top: 10px;
  margin-left: 20px;
}
.contacts .wrapper .formContainer form {
  margin-left: 80px;
  width: 410px;
}
.contacts .wrapper .formContainer form input {
  padding: 0.6em;
  margin-top: 20px;
  border: white 2px solid;
  background-color: #2046b3;
  color: white;
  display: inline-block;
}
.contacts .wrapper .formContainer form .name {
  width: 410px;
}
.contacts .wrapper .formContainer form .mobile {
  width: 160px;
}
.contacts .wrapper .formContainer form .email {
  position: absolute;
  width: 200px;
  right: 185px;
}
.contacts .wrapper .formContainer form .message {
  position: absolute;
  width: 413px;
  height: 70px;
  right: 185px;
  top: 210px;
}
.contacts .wrapper .formContainer form .send {
  position: absolute;
  background-color: #ffc600;
  top: 320px;
  width: 100px;
  left: 80px;
  border: #ffc600;
  color: black;
  font-weight: bold;
}
.contacts .wrapper .formContainer .line {
  width: 170px;
  border: #c5c5c5 1px solid;
  position: absolute;
  left: 75px;
  top: 90px;
}
.contacts .wrapper .formContainer .contact {
  color: white;
  margin-left: 70px;
  font-size: 30px;
  font-weight: bold;
  padding-top: 30px;
}
.contacts .wrapper .formContainer .contact .yellow {
  color: #ffc600;
  font-size: 50px;
}
.contacts .wrapper .formContainer .contact .white {
  font-size: 50px;
}

footer {
  display: grid;
  grid-template-columns: 100px 1198px 100px;
  grid-template-rows: 698px;
  grid-template-areas: ". fc .";
}
footer .footContainer {
  grid-area: fc;
  display: grid;
  grid-template-columns: 322px 876px;
  grid-template-areas: "menu content";
}
footer .footContainer .menuContainer {
  grid-area: menu;
  background-color: black;
  color: white;
}
footer .footContainer .menuContainer .logo {
  color: white;
  margin-left: 20px;
  font-size: 30px;
  font-weight: bold;
  padding-top: 120px;
  font-size: 50px;
  margin-bottom: 20px;
}
footer .footContainer .menuContainer .logo .yellow {
  color: #ffc600;
  font-size: 50px;
}
footer .footContainer .menuContainer ul {
  list-style: none;
  margin-left: 20px;
}
footer .footContainer .menuContainer ul li {
  padding: 0.3em;
}
footer .footContainer .menuContainer ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
footer .footContainer .menuContainer ul li a:hover {
  color: #ffc600;
}
footer .footContainer .menuContainer .downLine {
  width: 130px;
  border-top: #ffc600 1px solid;
  margin-top: 20px;
  margin-left: 20px;
}
footer .footContainer .menuContainer .downLine .socialMedia {
  margin-left: 5px;
  margin-top: 10px;
}
footer .footContainer .contentContainer {
  grid-area: content;
  background-image: url(../IMG/28.jpg);
}
footer .footContainer .contentContainer h1 {
  font-size: 95px;
  line-height: 80px;
  color: white;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 320px;
}
footer .footContainer .contentContainer h1 .yellow {
  color: #ffc600;
}
