@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color: violet;
    }

    75% {

        background-color: blue;
    }

    90% {
        background-color: green;
    }

    to {
        transform: rotate(360deg);

    }
}


.box {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 30px auto;
    position: relative;


}

.box:hover {

    /* Имя анимации */
    animation-name: spin;
    /* Длительность цикла анимации */
    animation-duration: 2s;
    /* Количество циклов анимации */
    animation-iteration-count: 10;
    /* Метод воспроизведения анимации */
    animation-timing-function: linear;
    /* Задержка перед началом анимации */
    animation-delay: 0;
    /* Направление анимации */
    animation-direction: reverse;
}

.text {
    height: 20px;
    width: 100px;
    display: block;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-weight: bolder;


}