body {
    margin: 0;
    padding: 0;
    position: relative;
}

.mobileMenu {
    display: none;
}

.mobileMenu ul {
    display: none;
}

#clickme {
    display: none;
}

.mainMenu {
    margin: 0;
    padding: 0;
    display: flex;
    /* border: green 1px solid; */
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
}


.mainMenu ul {
    margin: 0;
    padding: 0;
    display: flex;
    /* border: red 1px solid; */
    width: 80%;
    height: 50px;
    align-items: center;
    justify-content: center;
    list-style: none;
    justify-content: space-between;
}

.mainMenu ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.5s;
}

.mainMenu ul li a:hover {
    text-transform: uppercase;
    text-decoration: none;
    color: orange;
    font-weight: bold;
}




@media screen and (max-width: 600px) {

    .mainMenu {
        display: none;
    }

    .mainMenu ul {
        dispay: none;
    }

    .mobileMenu {
        width: 100%;
        height: 180px;
        /* border: 1px green solid; */
        margin: 0;
        padding: 0;
        display: none;
        margin: 0;
        background-color: lightgrey;
    }

    .mobileMenu ul {
        margin: 0;
        padding: 20px;
        display: grid;
        /* border: 1px red solid; */
        width: 50%;
        justify-items: center;
        position: relative;
        margin: auto;
        list-style: none;


    }

    .mobileMenu ul li {
        margin: 0;
        padding: 3px;
    }

    .mobileMenu ul li a {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        transition: 0.5s;
    }

    .mobileMenu ul li a:hover {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        text-decoration: none;
        color: orange;
    }

    .containerButton {
        display: block;
        width: 100%;
        height: px;
        /* border: 1px red solid; */
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: darkgrey;


    }

    #clickme {
        display: block;
        width: 40px;
        height: 25px;
        margin: 0;
        padding: 2px;
        background-color: rgba(255, 166, 0, 0.205);
        border-radius: 20%;
        color: black;
        border: 2px orange solid;
        outline: none;


    }
}